@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}

body *:not([class="stb"]) {
  color: rgba(0, 0, 0, 0.5);
}
/* status-bar의 요소들만 빼고 나머지에 대해서만
   color 적용하고 싶은데, 위 코드는 적용 안 됨.
   방법을 고민해보자. */
